body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

.link-back {
  position: fixed;
  top: 10px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link-back > span {
    transition: all .5s;
}

.arrow-left {
  width: 20px;
  height: auto;
  margin-right: 4px;
}

.link-back:hover span {
    margin-left: 5px;
}
